* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #e3e5e9;
  background: #121f3d;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  display: flex;
  place-content: center;
  gap: 16px;
  padding: 64px 32px;
}

.header-left {
  margin: auto;
}

.header-logo {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.site-name {
  font-size: 28px;
  font-weight: 600;
}

.header-p {
  font-size: 19.2px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 31.68px;
  color: #c5cbd3;
}

.header-btn {
  padding: 8px 12px;
  font-size: 17.6px;
  border: 1px solid #33b1ff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  background: #121f3d;
}

.header-btn:hover a {
  text-underline-position: above;
  text-decoration: underline;
}

.header-btn a {
  color: #33b1ff;
  text-decoration: none;
}

.header-right {
  margin: auto;
}

.header-img {
  width: 421.2px;
  height: 282.98px;
  margin: 16px;
}

/* End header */

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .header {
    padding: 64px 14px;
    grid-gap: 0;
  }

  .header-img {
    width: 316.8px;
    height: 212.84px;
    margin: 16px;
  }

  .user-cards {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }

  .user-title {
    font-size: 16px;
    margin-top: 8px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }

  .header {
    padding: 32px 14px;
  }

  .site-name {
    font-size: 26px;
  }

  .header-p {
    font-size: 16px;
  }

  .product-cards {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .category-cards {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .user-cards {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }

  .user-cards {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 64px 28px;
  }

  .products .container {
    max-width: 100%;
    padding: 64px 32px;
  }

  .header .container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  .header-left {
    margin: auto;
  }

  .header-btn {
    padding: 8px 12px;
    font-size: 17.6px;
    border: 1px solid #33b1ff;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    background: #121f3d;
  }

  .user-cards {
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
  }
}

/* Start main */
.products-container,
.categories-container,
.users-container {
  padding: 64px 32px;
}

.products__title-wrapper,
.categories__title-wrapper,
.users__title-wrapper {
  text-align: center;
  margin-bottom: 16px;
}

.products-title,
.categories-title,
.users-title {
  margin-bottom: 16px;
  font-size: 28px;
  color: #e3e5e9;
}

.products-url,
.categories-url,
.users-url {
  display: inline-block;
  padding: 16px 26px;
  font-size: 13.6px;
  font-family: "IBM Plex Mono", monospace;
  border-radius: 6px;
  color: #c8d1d9;
  background-color: #0d1117;
}

.category-cards,
.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 15px;
  object-fit: cover;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;
  object-fit: cover;
}

.category__image-wrapper,
.user__image-wrapper {
  width: 100%;
  height: 150px;
  margin-bottom: 18px;
}

.card-img,
.category-img {
  width: 100%;
  height: 160px;
  border-radius: 2px;
  object-fit: cover;
}

.user-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.card-infos {
  text-align: center;
}

.product-title,
.category-title {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #e2e5e9;
}

@media (max-width: 576px) {
  .header-img {
    width: 421.2px;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .products-url,
  .categories-url,
  .users-url {
    padding: 1rem;
    font-size: 7.6px;
    font-family: "IBM Plex Mono", monospace;
    border-radius: 6px;
    color: #c8d1d9;
    background-color: #0d1117;
    text-align: center;
  }
  .user-cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }

  .header {
    padding: 24px 12px;
    display: flex;
    place-content: center;
  }

  .products-container,
  .categories-container,
  .users-container {
    padding: 24px 12px;
  }

  .header-logo {
    margin-bottom: 2px;
  }

  .header-logo svg {
    width: 36px;
  }

  .site-name {
    font-size: 18px;
  }

  .header-p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .header-img {
    width: 90%;
    height: 313px;
    object-fit: cover;
  }

  .header-btn {
    padding: 8px 12px;
    font-size: 10px;
    margin-bottom: 1rem;
  }

  .products-title,
  .categories-title,
  .users-title {
    font-size: 18px;
    margin-bottom: 6px;
    text-align: center;
  }

  .product-title,
  .category-title,
  .product-price {
    margin-bottom: 6px;
    text-align: center;
  }
  .card-img {
    object-fit: cover;
  }

  .products-url,
  .categories-url,
  .users-url {
    padding: 8px 12px;
    font-size: 10px;
    text-align: center;
    border-radius: 4px;
  }

  .user-title {
    font-size: 12px;
    margin-top: 4px;
  }
}

.introduction-header-wrapper {
  padding: 32px 0;
  display: flex;
  justify-content: start;
  width: 100%;
}

.introduction-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 64px;
}

.introduction-logo span {
  font-size: 32px;
}

.main-container {
  min-height: calc(100vh - 104px);
  display: flex;
  gap: 20px 20px;
  justify-content: space-between;
  margin: 0 64px;
}

.sidebar {
  padding-top: 32px;
  width: 288px;
}

.sidebar-title {
  padding: 2px 16px;
  margin: 32px 0 8px 0;
}

.sidebar-title:nth-child(1) {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  width: 100%;
}

.sidebar ul li {
  margin: 4px 0;
  padding: 2px 16px;
  width: 100%;
}

.sidebar ul li:hover {
  background-color: #c8d1d96d;
}

.sidebar ul li a {
  text-decoration: none;
  color: #e3e5e9;
}

/* sidebar end */

.main {
  width: 100%;
  padding: 0 24px 24px 8px;
}

.overview-title {
  margin-bottom: 16px;
  font-size: 52px;
}
/* main end */

.main-section {
  /* background-color: red; */
  padding: 32px 64px;
}
.main-section__title {
  font-size: 52px;
  margin-bottom: 16px;
}

.main-section__description {
  font-size: 16px;
  margin-bottom: 16px;
  color: #c5cbd3;
}

.main-section__second-title {
  font-size: 16px;
  margin-bottom: 16px;
  color: #c5cbd3;
}

.main-section ul {
  padding-left: 16px;
}

.main-section ul li {
  margin-bottom: 8px;
}

.main-section ul li a {
  text-decoration: none;
  color: #c5cbd3;
  font-weight: 600;
}

/* .main-sectionon this page end; */
